body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1259px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1px;
  width:652px;
  height:372px;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:373px;
}
#u1660_ref {
  border-width:0px;
  position:absolute;
  left:654px;
  top:363px;
  width:1px;
  height:1px;
}
#u1661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:361px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:7px;
  width:635px;
  height:360px;
  opacity:0.7;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:330px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:22px;
  width:530px;
  height:330px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:41px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:301px;
  width:109px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u1663_ann {
  border-width:0px;
  position:absolute;
  left:384px;
  top:297px;
  width:1px;
  height:1px;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:30px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFDF25;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:221px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:71px;
  width:481px;
  height:220px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:110px;
  width:481px;
  height:2px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:51px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:122px;
  width:213px;
  height:50px;
  opacity:0.48;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:158px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:122px;
  width:213px;
  height:157px;
  opacity:0.48;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:87px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3D6BA7;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:87px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3D6BA7;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:87px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3D6BA7;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:123px;
  width:39px;
  height:40px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:128px;
  width:29px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:43px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:132px;
  width:73px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFF33;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:191px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:130px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:230px;
  width:101px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00FF00;
  text-align:center;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:139px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:58px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:12px;
  width:105px;
  height:58px;
  color:#3D6BA7;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:192px;
  width:65px;
  height:65px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:187px;
  width:20px;
  height:21px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:128px;
  width:40px;
  height:40px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:146px;
  width:49px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:211px;
  width:55px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:51px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:176px;
  width:213px;
  height:50px;
  opacity:0.48;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:184px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:193px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:182px;
  width:40px;
  height:40px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:200px;
  width:49px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:51px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:229px;
  width:213px;
  height:50px;
  opacity:0.48;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:237px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:246px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:235px;
  width:40px;
  height:40px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:253px;
  width:49px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:330px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:22px;
  width:530px;
  height:330px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:41px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:301px;
  width:109px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u1696_ann {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:297px;
  width:1px;
  height:1px;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:221px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:71px;
  width:481px;
  height:220px;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:110px;
  width:481px;
  height:2px;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:51px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:122px;
  width:213px;
  height:50px;
  opacity:0.48;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:158px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:122px;
  width:213px;
  height:157px;
  opacity:0.48;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:43px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:131px;
  width:73px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFF33;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:191px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:130px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:230px;
  width:101px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00FF00;
  text-align:center;
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:139px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:192px;
  width:65px;
  height:65px;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:187px;
  width:20px;
  height:21px;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:128px;
  width:40px;
  height:40px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:146px;
  width:49px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:211px;
  width:55px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:51px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:176px;
  width:213px;
  height:50px;
  opacity:0.48;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:184px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:193px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u1713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:182px;
  width:40px;
  height:40px;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:200px;
  width:49px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:51px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:229px;
  width:213px;
  height:50px;
  opacity:0.48;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:237px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:246px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:235px;
  width:40px;
  height:40px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:253px;
  width:49px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:58px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:7px;
  width:105px;
  height:58px;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:177px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:180px;
  width:21px;
  height:13px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:10px;
  color:#FFFFFF;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:87px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3D6BA7;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:84px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3D6BA7;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:84px;
  width:73px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3D6BA7;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:84px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3D6BA7;
}
#u1727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:84px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3D6BA7;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
body.a {  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-1px;
  width:1056px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u1660.a {
  left:1px;
  top:-3px;
  width:640px;
  height:365px;
}
#u1660.a {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-3px;
  width:640px;
  height:365px;
}
#u1661.a {
  left:2px;
  top:2px;
  width:632px;
  height:353px;
}
#u1661_img.a {
  width:633px;
  height:354px;
}
#u1661.a {
  left:2px;
  top:2px;
  width:632px;
  height:353px;
}
#u1662.a {
  left:61px;
  top:18px;
  width:520px;
  height:324px;
}
#u1662_img.a {
  width:520px;
  height:324px;
}
#u1662.a {
  left:61px;
  top:18px;
  width:520px;
  height:324px;
}
#u1663.a {
  left:268px;
  top:291px;
  width:107px;
  height:40px;
}
#u1663_img.a {
  width:107px;
  height:40px;
}
#u1663.a {
  left:268px;
  top:291px;
  width:107px;
  height:40px;
}
#u1663_text.a {
  width:103px;
}
#u1663_ann.a {
  left:368px;
  top:287px;
}
#u1664.a {
  left:288px;
  top:25px;
}
#u1664_img.a {
}
#u1664.a {
  left:288px;
  top:25px;
}
#u1664_text.a {
}
#u1665.a {
  left:85px;
  top:66px;
  width:472px;
  height:216px;
}
#u1665_img.a {
  width:473px;
  height:217px;
}
#u1665.a {
  left:85px;
  top:66px;
  width:472px;
  height:216px;
}
#u1666.a {
  left:85px;
  top:104px;
  width:472px;
}
#u1666_img.a {
  width:472px;
}
#u1666.a {
  left:85px;
  top:104px;
  width:472px;
}
#u1667.a {
  left:323px;
  top:116px;
  width:209px;
  height:49px;
}
#u1667_img.a {
  width:210px;
  height:50px;
}
#u1667.a {
  left:323px;
  top:116px;
  width:209px;
  height:49px;
}
#u1668.a {
  left:111px;
  top:116px;
  width:209px;
  height:154px;
}
#u1668_img.a {
  width:210px;
  height:155px;
}
#u1668.a {
  left:111px;
  top:116px;
  width:209px;
  height:154px;
}
#u1669.a {
  left:342px;
  top:81px;
}
#u1669_img.a {
}
#u1669.a {
  left:342px;
  top:81px;
}
#u1669_text.a {
}
#u1670.a {
  left:248px;
  top:81px;
}
#u1670_img.a {
}
#u1670.a {
  left:248px;
  top:81px;
}
#u1670_text.a {
}
#u1671.a {
  left:436px;
  top:81px;
}
#u1671_img.a {
}
#u1671.a {
  left:436px;
  top:81px;
}
#u1671_text.a {
}
#u1672.a {
  left:111px;
  top:117px;
  width:38px;
  height:39px;
}
#u1672_img.a {
  width:39px;
  height:40px;
}
#u1672.a {
  left:111px;
  top:117px;
  width:38px;
  height:39px;
}
#u1673.a {
  left:111px;
  top:122px;
}
#u1673_img.a {
}
#u1673.a {
  left:111px;
  top:122px;
}
#u1673_text.a {
}
#u1674.a {
  left:180px;
  top:126px;
}
#u1674_img.a {
}
#u1674.a {
  left:180px;
  top:126px;
}
#u1674_text.a {
}
#u1675.a {
  left:197px;
  top:184px;
}
#u1675_img.a {
}
#u1675.a {
  left:197px;
  top:184px;
}
#u1675_text.a {
}
#u1676.a {
  left:385px;
  top:124px;
}
#u1676_img.a {
}
#u1676.a {
  left:385px;
  top:124px;
}
#u1676_text.a {
}
#u1677.a {
  left:188px;
  top:222px;
  width:99px;
}
#u1677_img.a {
  width:100px;
}
#u1677.a {
  left:188px;
  top:222px;
  width:99px;
}
#u1677_text.a {
  width:99px;
}
#u1678.a {
  left:488px;
  top:132px;
}
#u1678_img.a {
}
#u1678.a {
  left:488px;
  top:132px;
}
#u1678_text.a {
}
#u1679.a {
  left:273px;
  top:8px;
  width:103px;
  height:57px;
}
#u1679_img.a {
  width:103px;
  height:57px;
}
#u1679.a {
  left:273px;
  top:8px;
  width:103px;
  height:57px;
}
#u1680.a {
  left:118px;
  top:184px;
  width:64px;
  height:64px;
}
#u1680_img.a {
  width:64px;
  height:64px;
}
#u1680.a {
  left:118px;
  top:184px;
  width:64px;
  height:64px;
}
#u1681.a {
  left:168px;
  top:180px;
}
#u1681_img.a {
}
#u1681.a {
  left:168px;
  top:180px;
}
#u1682.a {
  left:337px;
  top:122px;
  width:39px;
  height:39px;
}
#u1682_img.a {
  width:39px;
  height:39px;
}
#u1682.a {
  left:337px;
  top:122px;
  width:39px;
  height:39px;
}
#u1683.a {
  left:385px;
  top:139px;
}
#u1683_img.a {
}
#u1683.a {
  left:385px;
  top:139px;
}
#u1683_text.a {
}
#u1684.a {
  left:197px;
  top:203px;
}
#u1684_img.a {
}
#u1684.a {
  left:197px;
  top:203px;
}
#u1684_text.a {
}
#u1685.a {
  left:323px;
  top:169px;
  width:209px;
  height:49px;
}
#u1685_img.a {
  width:210px;
  height:50px;
}
#u1685.a {
  left:323px;
  top:169px;
  width:209px;
  height:49px;
}
#u1686.a {
  left:385px;
  top:177px;
}
#u1686_img.a {
}
#u1686.a {
  left:385px;
  top:177px;
}
#u1686_text.a {
}
#u1687.a {
  left:488px;
  top:185px;
}
#u1687_img.a {
}
#u1687.a {
  left:488px;
  top:185px;
}
#u1687_text.a {
}
#u1688.a {
  left:337px;
  top:175px;
  width:39px;
  height:39px;
}
#u1688_img.a {
  width:39px;
  height:39px;
}
#u1688.a {
  left:337px;
  top:175px;
  width:39px;
  height:39px;
}
#u1689.a {
  left:385px;
  top:192px;
}
#u1689_img.a {
}
#u1689.a {
  left:385px;
  top:192px;
}
#u1689_text.a {
}
#u1690.a {
  left:323px;
  top:221px;
  width:209px;
  height:49px;
}
#u1690_img.a {
  width:210px;
  height:50px;
}
#u1690.a {
  left:323px;
  top:221px;
  width:209px;
  height:49px;
}
#u1691.a {
  left:385px;
  top:229px;
}
#u1691_img.a {
}
#u1691.a {
  left:385px;
  top:229px;
}
#u1691_text.a {
}
#u1692.a {
  left:488px;
  top:237px;
}
#u1692_img.a {
}
#u1692.a {
  left:488px;
  top:237px;
}
#u1692_text.a {
}
#u1693.a {
  left:337px;
  top:227px;
  width:39px;
  height:39px;
}
#u1693_img.a {
  width:39px;
  height:39px;
}
#u1693.a {
  left:337px;
  top:227px;
  width:39px;
  height:39px;
}
#u1694.a {
  left:385px;
  top:244px;
}
#u1694_img.a {
}
#u1694.a {
  left:385px;
  top:244px;
}
#u1694_text.a {
}
#u1695.a {
  left:64px;
  top:382px;
  width:520px;
  height:324px;
}
#u1695_img.a {
  width:520px;
  height:324px;
}
#u1695.a {
  left:64px;
  top:382px;
  width:520px;
  height:324px;
}
#u1696.a {
  left:271px;
  top:656px;
  width:107px;
  height:40px;
}
#u1696_img.a {
  width:107px;
  height:40px;
}
#u1696.a {
  left:271px;
  top:656px;
  width:107px;
  height:40px;
}
#u1696_text.a {
  width:103px;
}
#u1696_ann.a {
  left:371px;
  top:652px;
}
#u1697.a {
  left:89px;
  top:430px;
  width:472px;
  height:216px;
}
#u1697_img.a {
  width:473px;
  height:217px;
}
#u1697.a {
  left:89px;
  top:430px;
  width:472px;
  height:216px;
}
#u1698.a {
  left:89px;
  top:468px;
  width:472px;
}
#u1698_img.a {
  width:472px;
}
#u1698.a {
  left:89px;
  top:468px;
  width:472px;
}
#u1699.a {
  left:326px;
  top:480px;
  width:209px;
  height:49px;
}
#u1699_img.a {
  width:210px;
  height:50px;
}
#u1699.a {
  left:326px;
  top:480px;
  width:209px;
  height:49px;
}
#u1700.a {
  left:114px;
  top:480px;
  width:209px;
  height:154px;
}
#u1700_img.a {
  width:210px;
  height:155px;
}
#u1700.a {
  left:114px;
  top:480px;
  width:209px;
  height:154px;
}
#u1701.a {
  left:183px;
  top:489px;
}
#u1701_img.a {
}
#u1701.a {
  left:183px;
  top:489px;
}
#u1701_text.a {
}
#u1702.a {
  left:200px;
  top:548px;
}
#u1702_img.a {
}
#u1702.a {
  left:200px;
  top:548px;
}
#u1702_text.a {
}
#u1703.a {
  left:383px;
  top:488px;
}
#u1703_img.a {
}
#u1703.a {
  left:383px;
  top:488px;
}
#u1703_text.a {
}
#u1704.a {
  left:191px;
  top:586px;
  width:99px;
}
#u1704_img.a {
  width:100px;
}
#u1704.a {
  left:191px;
  top:586px;
  width:99px;
}
#u1704_text.a {
  width:99px;
}
#u1705.a {
  left:486px;
  top:497px;
}
#u1705_img.a {
}
#u1705.a {
  left:486px;
  top:497px;
}
#u1705_text.a {
}
#u1706.a {
  left:121px;
  top:549px;
  width:64px;
  height:64px;
}
#u1706_img.a {
  width:64px;
  height:64px;
}
#u1706.a {
  left:121px;
  top:549px;
  width:64px;
  height:64px;
}
#u1707.a {
  left:171px;
  top:544px;
}
#u1707_img.a {
}
#u1707.a {
  left:171px;
  top:544px;
}
#u1708.a {
  left:335px;
  top:486px;
  width:39px;
  height:39px;
}
#u1708_img.a {
  width:39px;
  height:39px;
}
#u1708.a {
  left:335px;
  top:486px;
  width:39px;
  height:39px;
}
#u1709.a {
  left:383px;
  top:504px;
}
#u1709_img.a {
}
#u1709.a {
  left:383px;
  top:504px;
}
#u1709_text.a {
}
#u1710.a {
  left:200px;
  top:567px;
}
#u1710_img.a {
}
#u1710.a {
  left:200px;
  top:567px;
}
#u1710_text.a {
}
#u1711.a {
  left:326px;
  top:533px;
  width:209px;
  height:49px;
}
#u1711_img.a {
  width:210px;
  height:50px;
}
#u1711.a {
  left:326px;
  top:533px;
  width:209px;
  height:49px;
}
#u1712.a {
  left:383px;
  top:541px;
}
#u1712_img.a {
}
#u1712.a {
  left:383px;
  top:541px;
}
#u1712_text.a {
}
#u1713.a {
  left:486px;
  top:550px;
}
#u1713_img.a {
}
#u1713.a {
  left:486px;
  top:550px;
}
#u1713_text.a {
}
#u1714.a {
  left:335px;
  top:539px;
  width:39px;
  height:39px;
}
#u1714_img.a {
  width:39px;
  height:39px;
}
#u1714.a {
  left:335px;
  top:539px;
  width:39px;
  height:39px;
}
#u1715.a {
  left:383px;
  top:557px;
}
#u1715_img.a {
}
#u1715.a {
  left:383px;
  top:557px;
}
#u1715_text.a {
}
#u1716.a {
  left:326px;
  top:585px;
  width:209px;
  height:49px;
}
#u1716_img.a {
  width:210px;
  height:50px;
}
#u1716.a {
  left:326px;
  top:585px;
  width:209px;
  height:49px;
}
#u1717.a {
  left:383px;
  top:593px;
}
#u1717_img.a {
}
#u1717.a {
  left:383px;
  top:593px;
}
#u1717_text.a {
}
#u1718.a {
  left:486px;
  top:602px;
}
#u1718_img.a {
}
#u1718.a {
  left:486px;
  top:602px;
}
#u1718_text.a {
}
#u1719.a {
  left:335px;
  top:591px;
  width:39px;
  height:39px;
}
#u1719_img.a {
  width:39px;
  height:39px;
}
#u1719.a {
  left:335px;
  top:591px;
  width:39px;
  height:39px;
}
#u1720.a {
  left:383px;
  top:609px;
}
#u1720_img.a {
}
#u1720.a {
  left:383px;
  top:609px;
}
#u1720_text.a {
}
#u1721.a {
}
#u1721_img.a {
}
#u1721.a {
}
#u1722.a {
  left:327px;
  top:534px;
  width:29px;
  height:29px;
}
#u1722_img.a {
  width:30px;
  height:30px;
}
#u1722.a {
  left:327px;
  top:534px;
  width:29px;
  height:29px;
}
#u1723.a {
  left:327px;
  top:537px;
}
#u1723_img.a {
}
#u1723.a {
  left:327px;
  top:537px;
}
#u1723_text.a {
}
#u1724.a {
  left:141px;
  top:81px;
}
#u1724_img.a {
}
#u1724.a {
  left:141px;
  top:81px;
}
#u1724_text.a {
}
#u1725.a {
  left:345px;
  top:443px;
}
#u1725_img.a {
}
#u1725.a {
  left:345px;
  top:443px;
}
#u1725_text.a {
}
#u1726.a {
  left:251px;
  top:443px;
}
#u1726_img.a {
}
#u1726.a {
  left:251px;
  top:443px;
}
#u1726_text.a {
}
#u1727.a {
  left:439px;
  top:443px;
}
#u1727_img.a {
}
#u1727.a {
  left:439px;
  top:443px;
}
#u1727_text.a {
}
#u1728.a {
  left:144px;
  top:443px;
}
#u1728_img.a {
}
#u1728.a {
  left:144px;
  top:443px;
}
#u1728_text.a {
}
