body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-39px;
  width:667px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:33px;
  width:667px;
  height:375px;
}
#u2414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:33px;
  width:667px;
  height:375px;
  opacity:0.5;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:308px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:67px;
  width:603px;
  height:307px;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:113px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:108px;
  width:548px;
  height:112px;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:76px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:25px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:112px;
  width:537px;
  height:24px;
}
#u2419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:116px;
  width:96px;
  height:16px;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:116px;
  width:43px;
  height:16px;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:17px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:117px;
  width:162px;
  height:16px;
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u2423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:142px;
  width:140px;
  height:30px;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:143px;
  width:140px;
  height:30px;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:187px;
  width:94px;
  height:25px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:113px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:230px;
  width:548px;
  height:112px;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:25px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:234px;
  width:537px;
  height:24px;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:238px;
  width:96px;
  height:16px;
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:238px;
  width:96px;
  height:16px;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:17px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:239px;
  width:162px;
  height:16px;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:264px;
  width:140px;
  height:30px;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:265px;
  width:140px;
  height:30px;
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:264px;
  width:140px;
  height:30px;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u2434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:305px;
  width:94px;
  height:25px;
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u2435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:142px;
  width:140px;
  height:30px;
}
#u2435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u2414.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2414_img.a {
  width:640px;
  height:360px;
}
#u2414.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2415.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2415_img.a {
  width:641px;
  height:361px;
}
#u2415.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2416.a {
  left:31px;
  top:33px;
  width:579px;
  height:295px;
}
#u2416_img.a {
  width:580px;
  height:296px;
}
#u2416.a {
  left:31px;
  top:33px;
  width:579px;
  height:295px;
}
#u2417.a {
  left:61px;
  top:72px;
  width:526px;
  height:107px;
}
#u2417_img.a {
  width:527px;
  height:108px;
}
#u2417.a {
  left:61px;
  top:72px;
  width:526px;
  height:107px;
}
#u2418.a {
  left:285px;
  top:41px;
}
#u2418_img.a {
}
#u2418.a {
  left:285px;
  top:41px;
}
#u2418_text.a {
}
#u2419.a {
  left:67px;
  top:76px;
  width:515px;
  height:23px;
}
#u2419_img.a {
  width:516px;
  height:24px;
}
#u2419.a {
  left:67px;
  top:76px;
  width:515px;
  height:23px;
}
#u2420.a {
  left:78px;
  top:80px;
}
#u2420_img.a {
}
#u2420.a {
  left:78px;
  top:80px;
}
#u2420_text.a {
}
#u2421.a {
  left:299px;
  top:80px;
}
#u2421_img.a {
}
#u2421.a {
  left:299px;
  top:80px;
}
#u2421_text.a {
}
#u2422.a {
  left:423px;
  top:81px;
}
#u2422_img.a {
}
#u2422.a {
  left:423px;
  top:81px;
}
#u2422_text.a {
}
#u2423.a {
  left:78px;
  top:105px;
  width:134px;
  height:29px;
}
#u2423_img.a {
  width:135px;
  height:30px;
}
#u2423.a {
  left:78px;
  top:105px;
  width:134px;
  height:29px;
}
#u2423_text.a {
  top:6px;
  width:130px;
}
#u2424.a {
  left:423px;
  top:106px;
  width:134px;
  height:29px;
}
#u2424_img.a {
  width:135px;
  height:30px;
}
#u2424.a {
  left:423px;
  top:106px;
  width:134px;
  height:29px;
}
#u2424_text.a {
  top:6px;
  width:130px;
}
#u2425.a {
  left:467px;
  top:148px;
  width:90px;
  height:24px;
}
#u2425_img.a {
  width:91px;
  height:25px;
}
#u2425.a {
  left:467px;
  top:148px;
  width:90px;
  height:24px;
}
#u2425_text.a {
  width:86px;
}
#u2426.a {
  left:61px;
  top:189px;
  width:526px;
  height:107px;
}
#u2426_img.a {
  width:527px;
  height:108px;
}
#u2426.a {
  left:61px;
  top:189px;
  width:526px;
  height:107px;
}
#u2427.a {
  left:67px;
  top:193px;
  width:515px;
  height:23px;
}
#u2427_img.a {
  width:516px;
  height:24px;
}
#u2427.a {
  left:67px;
  top:193px;
  width:515px;
  height:23px;
}
#u2428.a {
  left:78px;
  top:197px;
}
#u2428_img.a {
}
#u2428.a {
  left:78px;
  top:197px;
}
#u2428_text.a {
}
#u2429.a {
  left:209px;
  top:197px;
}
#u2429_img.a {
}
#u2429.a {
  left:209px;
  top:197px;
}
#u2429_text.a {
}
#u2430.a {
  left:402px;
  top:198px;
}
#u2430_img.a {
}
#u2430.a {
  left:402px;
  top:198px;
}
#u2430_text.a {
}
#u2431.a {
  left:78px;
  top:222px;
  width:134px;
  height:29px;
}
#u2431_img.a {
  width:135px;
  height:30px;
}
#u2431.a {
  left:78px;
  top:222px;
  width:134px;
  height:29px;
}
#u2431_text.a {
  top:6px;
  width:130px;
}
#u2432.a {
  left:423px;
  top:223px;
  width:134px;
  height:29px;
}
#u2432_img.a {
  width:135px;
  height:30px;
}
#u2432.a {
  left:423px;
  top:223px;
  width:134px;
  height:29px;
}
#u2432_text.a {
  top:6px;
  width:130px;
}
#u2433.a {
  left:258px;
  top:222px;
  width:134px;
  height:29px;
}
#u2433_img.a {
  width:135px;
  height:30px;
}
#u2433.a {
  left:258px;
  top:222px;
  width:134px;
  height:29px;
}
#u2433_text.a {
  top:6px;
  width:130px;
}
#u2434.a {
  left:467px;
  top:261px;
  width:90px;
  height:24px;
}
#u2434_img.a {
  width:91px;
  height:25px;
}
#u2434.a {
  left:467px;
  top:261px;
  width:90px;
  height:24px;
}
#u2434_text.a {
  width:86px;
}
#u2435.a {
  left:258px;
  top:105px;
  width:134px;
  height:29px;
}
#u2435_img.a {
  width:135px;
  height:30px;
}
#u2435.a {
  left:258px;
  top:105px;
  width:134px;
  height:29px;
}
#u2435_text.a {
  top:6px;
  width:130px;
}
