body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-13px;
  width:667px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:17px;
  width:667px;
  height:375px;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:22px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:371px;
  width:631px;
  height:21px;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:331px;
  width:61px;
  height:58px;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:338px;
  width:36px;
  height:45px;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:373px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:369px;
  width:15px;
  height:21px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:372px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:23px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:29px;
  width:118px;
  height:22px;
  opacity:0.8;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:32px;
  width:37px;
  height:16px;
  color:#FFFFFF;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:34px;
  width:1px;
  height:13px;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:33px;
  width:25px;
  height:14px;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:33px;
  width:20px;
  height:15px;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:34px;
  width:1px;
  height:13px;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:32px;
  width:27px;
  height:22px;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:30px;
  width:18px;
  height:25px;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:30px;
  width:25px;
  height:25px;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:82px;
  width:61px;
  height:58px;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:89px;
  width:36px;
  height:45px;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:144px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:82px;
  width:61px;
  height:58px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:89px;
  width:36px;
  height:45px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:144px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:273px;
  width:74px;
  height:92px;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:273px;
  width:74px;
  height:92px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:273px;
  width:74px;
  height:92px;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:273px;
  width:74px;
  height:92px;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:273px;
  width:74px;
  height:92px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:273px;
  width:74px;
  height:92px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:273px;
  width:74px;
  height:92px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:273px;
  width:74px;
  height:92px;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:273px;
  width:74px;
  height:92px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:273px;
  width:74px;
  height:92px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:273px;
  width:74px;
  height:92px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:273px;
  width:74px;
  height:92px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:273px;
  width:74px;
  height:92px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:273px;
  width:74px;
  height:92px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:76px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:88px;
  width:42px;
  height:65px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:76px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:72px;
  width:43px;
  height:65px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:97px;
  width:30px;
  height:30px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:24px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:48px;
  width:325px;
  height:23px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:51px;
  width:25px;
  height:22px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:51px;
  width:242px;
  height:16px;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:32px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:17px;
  width:368px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:21px;
  width:165px;
  height:16px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:316px;
  width:21px;
  height:28px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:284px;
  width:25px;
  height:22px;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:245px;
  width:25px;
  height:24px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:28px;
  width:20px;
  height:28px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:295px;
  width:0px;
  height:0px;
}
#u2208_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-4px;
  width:13px;
  height:8px;
}
#u2208_seg1 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-46px;
  width:8px;
  height:50px;
}
#u2208_seg2 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-46px;
  width:13px;
  height:8px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:225px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:141px;
  width:227px;
  height:224px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:141px;
  width:114px;
  height:31px;
  color:#FFFFFF;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:141px;
  width:114px;
  height:31px;
  color:#FFFFFF;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:181px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:175px;
  width:210px;
  height:180px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:182px;
  width:193px;
  height:23px;
  font-size:14px;
  text-align:left;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:215px;
  width:193px;
  height:23px;
  text-align:left;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:248px;
  width:193px;
  height:23px;
  text-align:left;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:281px;
  width:193px;
  height:23px;
  text-align:left;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:314px;
  width:193px;
  height:23px;
  text-align:left;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:167px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:182px;
  width:5px;
  height:166px;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:45px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:194px;
  width:5px;
  height:44px;
  color:#000000;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:290px;
  width:126px;
  height:24px;
  font-size:14px;
  text-align:left;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u2160.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2160_img.a {
  width:641px;
  height:361px;
}
#u2160.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2161.a {
  left:16px;
  top:340px;
  width:605px;
  height:20px;
}
#u2161_img.a {
  width:606px;
  height:21px;
}
#u2161.a {
  left:16px;
  top:340px;
  width:605px;
  height:20px;
}
#u2162.a {
  left:23px;
  top:301px;
  width:59px;
  height:56px;
}
#u2162_img.a {
  width:60px;
  height:57px;
}
#u2162.a {
  left:23px;
  top:301px;
  width:59px;
  height:56px;
}
#u2163.a {
  left:35px;
  top:308px;
  width:35px;
  height:43px;
}
#u2163_img.a {
  width:36px;
  height:44px;
}
#u2163.a {
  left:35px;
  top:308px;
  width:35px;
  height:43px;
}
#u2164.a {
  left:107px;
  top:342px;
}
#u2164_img.a {
}
#u2164.a {
  left:107px;
  top:342px;
}
#u2164_text.a {
}
#u2165.a {
  left:169px;
  top:338px;
  width:14px;
  height:20px;
}
#u2165_img.a {
  width:15px;
  height:21px;
}
#u2165.a {
  left:169px;
  top:338px;
  width:14px;
  height:20px;
}
#u2166.a {
  left:199px;
  top:341px;
}
#u2166_img.a {
}
#u2166.a {
  left:199px;
  top:341px;
}
#u2166_text.a {
}
#u2167.a {
  left:16px;
  top:12px;
  width:113px;
  height:21px;
}
#u2167_img.a {
  width:114px;
  height:22px;
}
#u2167.a {
  left:16px;
  top:12px;
  width:113px;
  height:21px;
}
#u2168.a {
  left:26px;
  top:14px;
}
#u2168_img.a {
}
#u2168.a {
  left:26px;
  top:14px;
}
#u2168_text.a {
}
#u2169.a {
  left:63px;
  top:16px;
  height:12px;
}
#u2169_img.a {
  height:13px;
}
#u2169.a {
  left:63px;
  top:16px;
  height:12px;
}
#u2170.a {
  left:98px;
  top:15px;
  width:24px;
  height:13px;
}
#u2170_img.a {
  width:25px;
  height:14px;
}
#u2170.a {
  left:98px;
  top:15px;
  width:24px;
  height:13px;
}
#u2171.a {
  left:67px;
  top:15px;
  width:19px;
  height:14px;
}
#u2171_img.a {
  width:20px;
  height:15px;
}
#u2171.a {
  left:67px;
  top:15px;
  width:19px;
  height:14px;
}
#u2172.a {
  left:92px;
  top:16px;
  height:12px;
}
#u2172_img.a {
  height:13px;
}
#u2172.a {
  left:92px;
  top:16px;
  height:12px;
}
#u2173.a {
  left:599px;
  top:14px;
  width:26px;
  height:21px;
}
#u2173_img.a {
  width:27px;
  height:22px;
}
#u2173.a {
  left:599px;
  top:14px;
  width:26px;
  height:21px;
}
#u2174.a {
  left:567px;
  top:12px;
  width:17px;
  height:24px;
}
#u2174_img.a {
  width:18px;
  height:25px;
}
#u2174.a {
  left:567px;
  top:12px;
  width:17px;
  height:24px;
}
#u2175.a {
  left:530px;
  top:12px;
  width:24px;
  height:24px;
}
#u2175_img.a {
  width:25px;
  height:25px;
}
#u2175.a {
  left:530px;
  top:12px;
  width:24px;
  height:24px;
}
#u2176.a {
  left:30px;
  top:62px;
  width:59px;
  height:56px;
}
#u2176_img.a {
  width:60px;
  height:57px;
}
#u2176.a {
  left:30px;
  top:62px;
  width:59px;
  height:56px;
}
#u2177.a {
  left:41px;
  top:69px;
  width:35px;
  height:43px;
}
#u2177_img.a {
  width:36px;
  height:44px;
}
#u2177.a {
  left:41px;
  top:69px;
  width:35px;
  height:43px;
}
#u2178.a {
  left:38px;
  top:122px;
}
#u2178_img.a {
}
#u2178.a {
  left:38px;
  top:122px;
}
#u2178_text.a {
}
#u2179.a {
  left:547px;
  top:62px;
  width:59px;
  height:56px;
}
#u2179_img.a {
  width:60px;
  height:57px;
}
#u2179.a {
  left:547px;
  top:62px;
  width:59px;
  height:56px;
}
#u2180.a {
  left:558px;
  top:69px;
  width:35px;
  height:43px;
}
#u2180_img.a {
  width:36px;
  height:44px;
}
#u2180.a {
  left:558px;
  top:69px;
  width:35px;
  height:43px;
}
#u2181.a {
  left:556px;
  top:122px;
}
#u2181_img.a {
}
#u2181.a {
  left:556px;
  top:122px;
}
#u2181_text.a {
}
#u2182.a {
  left:86px;
  top:246px;
  width:71px;
  height:88px;
}
#u2182_img.a {
  width:82px;
  height:99px;
}
#u2182.a {
  left:86px;
  top:246px;
  width:71px;
  height:88px;
}
#u2183.a {
  left:114px;
  top:246px;
  width:71px;
  height:88px;
}
#u2183_img.a {
  width:82px;
  height:99px;
}
#u2183.a {
  left:114px;
  top:246px;
  width:71px;
  height:88px;
}
#u2184.a {
  left:143px;
  top:246px;
  width:71px;
  height:88px;
}
#u2184_img.a {
  width:82px;
  height:99px;
}
#u2184.a {
  left:143px;
  top:246px;
  width:71px;
  height:88px;
}
#u2185.a {
  left:171px;
  top:246px;
  width:71px;
  height:88px;
}
#u2185_img.a {
  width:82px;
  height:99px;
}
#u2185.a {
  left:171px;
  top:246px;
  width:71px;
  height:88px;
}
#u2186.a {
  left:200px;
  top:246px;
  width:71px;
  height:88px;
}
#u2186_img.a {
  width:82px;
  height:99px;
}
#u2186.a {
  left:200px;
  top:246px;
  width:71px;
  height:88px;
}
#u2187.a {
  left:227px;
  top:246px;
  width:71px;
  height:88px;
}
#u2187_img.a {
  width:82px;
  height:99px;
}
#u2187.a {
  left:227px;
  top:246px;
  width:71px;
  height:88px;
}
#u2188.a {
  left:256px;
  top:246px;
  width:71px;
  height:88px;
}
#u2188_img.a {
  width:82px;
  height:99px;
}
#u2188.a {
  left:256px;
  top:246px;
  width:71px;
  height:88px;
}
#u2189.a {
  left:284px;
  top:246px;
  width:71px;
  height:88px;
}
#u2189_img.a {
  width:82px;
  height:99px;
}
#u2189.a {
  left:284px;
  top:246px;
  width:71px;
  height:88px;
}
#u2190.a {
  left:313px;
  top:246px;
  width:71px;
  height:88px;
}
#u2190_img.a {
  width:82px;
  height:99px;
}
#u2190.a {
  left:313px;
  top:246px;
  width:71px;
  height:88px;
}
#u2191.a {
  left:341px;
  top:246px;
  width:71px;
  height:88px;
}
#u2191_img.a {
  width:82px;
  height:99px;
}
#u2191.a {
  left:341px;
  top:246px;
  width:71px;
  height:88px;
}
#u2192.a {
  left:369px;
  top:246px;
  width:71px;
  height:88px;
}
#u2192_img.a {
  width:82px;
  height:99px;
}
#u2192.a {
  left:369px;
  top:246px;
  width:71px;
  height:88px;
}
#u2193.a {
  left:396px;
  top:246px;
  width:71px;
  height:88px;
}
#u2193_img.a {
  width:82px;
  height:99px;
}
#u2193.a {
  left:396px;
  top:246px;
  width:71px;
  height:88px;
}
#u2194.a {
  left:426px;
  top:246px;
  width:71px;
  height:88px;
}
#u2194_img.a {
  width:82px;
  height:99px;
}
#u2194.a {
  left:426px;
  top:246px;
  width:71px;
  height:88px;
}
#u2195.a {
  left:454px;
  top:246px;
  width:71px;
  height:88px;
}
#u2195_img.a {
  width:82px;
  height:99px;
}
#u2195.a {
  left:454px;
  top:246px;
  width:71px;
  height:88px;
}
#u2196.a {
  left:438px;
  top:68px;
  width:40px;
  height:62px;
}
#u2196_img.a {
  width:51px;
  height:73px;
}
#u2196.a {
  left:438px;
  top:68px;
  width:40px;
  height:62px;
}
#u2197.a {
  left:437px;
  top:53px;
  width:41px;
  height:62px;
}
#u2197_img.a {
  width:52px;
  height:73px;
}
#u2197.a {
  left:437px;
  top:53px;
  width:41px;
  height:62px;
}
#u2198.a {
  left:509px;
  top:77px;
  width:29px;
  height:29px;
}
#u2198_img.a {
  width:30px;
  height:30px;
}
#u2198.a {
  left:509px;
  top:77px;
  width:29px;
  height:29px;
}
#u2199.a {
  left:164px;
  top:30px;
  width:312px;
  height:22px;
}
#u2199_img.a {
  width:313px;
  height:23px;
}
#u2199.a {
  left:164px;
  top:30px;
  width:312px;
  height:22px;
}
#u2200.a {
  left:169px;
  top:33px;
  width:24px;
  height:21px;
}
#u2200_img.a {
  width:25px;
  height:22px;
}
#u2200.a {
  left:169px;
  top:33px;
  width:24px;
  height:21px;
}
#u2201.a {
  left:216px;
  top:33px;
  width:232px;
}
#u2201_img.a {
  width:233px;
}
#u2201.a {
  left:216px;
  top:33px;
  width:232px;
}
#u2201_text.a {
  width:232px;
}
#u2202.a {
  left:143px;
  top:0px;
  width:353px;
  height:30px;
}
#u2202_img.a {
  width:354px;
  height:31px;
}
#u2202.a {
  left:143px;
  top:0px;
  width:353px;
  height:30px;
}
#u2203.a {
  left:232px;
  top:4px;
}
#u2203_img.a {
}
#u2203.a {
  left:232px;
  top:4px;
}
#u2203_text.a {
}
#u2204.a {
  left:601px;
  top:287px;
  width:20px;
  height:27px;
}
#u2204_img.a {
  width:21px;
  height:28px;
}
#u2204.a {
  left:601px;
  top:287px;
  width:20px;
  height:27px;
}
#u2205.a {
  left:600px;
  top:256px;
  width:24px;
  height:21px;
}
#u2205_img.a {
  width:25px;
  height:22px;
}
#u2205.a {
  left:600px;
  top:256px;
  width:24px;
  height:21px;
}
#u2206.a {
  left:601px;
  top:219px;
  width:24px;
  height:23px;
}
#u2206_img.a {
  width:25px;
  height:24px;
}
#u2206.a {
  left:601px;
  top:219px;
  width:24px;
  height:23px;
}
#u2207.a {
  left:499px;
  top:11px;
  width:19px;
  height:27px;
}
#u2207_img.a {
  width:20px;
  height:28px;
}
#u2207.a {
  left:499px;
  top:11px;
  width:19px;
  height:27px;
}
#u2208.a {
  left:600px;
  top:267px;
}
#u2210.a {
  left:365px;
  top:119px;
  width:218px;
  height:215px;
}
#u2210_img.a {
  width:219px;
  height:216px;
}
#u2210.a {
  left:365px;
  top:119px;
  width:218px;
  height:215px;
}
#u2211.a {
  left:365px;
  top:119px;
  width:109px;
  height:30px;
}
#u2211_img.a {
  width:110px;
  height:31px;
}
#u2211.a {
  left:365px;
  top:119px;
  width:109px;
  height:30px;
}
#u2211_text.a {
  top:7px;
  width:105px;
}
#u2212.a {
  left:474px;
  top:119px;
  width:109px;
  height:30px;
}
#u2212_img.a {
  width:110px;
  height:31px;
}
#u2212.a {
  left:474px;
  top:119px;
  width:109px;
  height:30px;
}
#u2212_text.a {
  top:7px;
  width:105px;
}
#u2213.a {
  left:373px;
  top:152px;
  width:201px;
  height:173px;
}
#u2213_img.a {
  width:202px;
  height:174px;
}
#u2213.a {
  left:373px;
  top:152px;
  width:201px;
  height:173px;
}
#u2214.a {
  left:374px;
  top:158px;
  width:185px;
  height:22px;
}
#u2214_img.a {
  width:186px;
  height:23px;
}
#u2214.a {
  left:374px;
  top:158px;
  width:185px;
  height:22px;
}
#u2214_text.a {
  top:3px;
  width:181px;
}
#u2215.a {
  left:374px;
  top:190px;
  width:185px;
  height:22px;
}
#u2215_img.a {
  width:186px;
  height:23px;
}
#u2215.a {
  left:374px;
  top:190px;
  width:185px;
  height:22px;
}
#u2215_text.a {
  top:3px;
  width:181px;
}
#u2216.a {
  left:374px;
  top:222px;
  width:185px;
  height:22px;
}
#u2216_img.a {
  width:186px;
  height:23px;
}
#u2216.a {
  left:374px;
  top:222px;
  width:185px;
  height:22px;
}
#u2216_text.a {
  top:3px;
  width:181px;
}
#u2217.a {
  left:374px;
  top:253px;
  width:185px;
  height:22px;
}
#u2217_img.a {
  width:186px;
  height:23px;
}
#u2217.a {
  left:374px;
  top:253px;
  width:185px;
  height:22px;
}
#u2217_text.a {
  top:3px;
  width:181px;
}
#u2218.a {
  left:374px;
  top:285px;
  width:185px;
  height:22px;
}
#u2218_img.a {
  width:186px;
  height:23px;
}
#u2218.a {
  left:374px;
  top:285px;
  width:185px;
  height:22px;
}
#u2218_text.a {
  top:3px;
  width:181px;
}
#u2219.a {
  left:562px;
  top:158px;
  height:159px;
}
#u2219_img.a {
  height:160px;
}
#u2219.a {
  left:562px;
  top:158px;
  height:159px;
}
#u2220.a {
  left:562px;
  top:170px;
  height:42px;
}
#u2220_img.a {
  height:43px;
}
#u2220.a {
  left:562px;
  top:170px;
  height:42px;
}
#u2221.a {
  left:50px;
  top:262px;
  width:121px;
  height:23px;
}
#u2221_img.a {
  width:122px;
  height:24px;
}
#u2221.a {
  left:50px;
  top:262px;
  width:121px;
  height:23px;
}
#u2221_text.a {
  width:117px;
}
