body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-52px;
  width:667px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:29px;
  width:667px;
  height:375px;
}
#u2352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:22px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:383px;
  width:631px;
  height:21px;
}
#u2353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:343px;
  width:61px;
  height:58px;
}
#u2355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_ann {
  border-width:0px;
  position:absolute;
  left:130px;
  top:339px;
  width:1px;
  height:1px;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:350px;
  width:36px;
  height:45px;
}
#u2356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:385px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:381px;
  width:15px;
  height:21px;
}
#u2358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:384px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:23px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:41px;
  width:118px;
  height:22px;
  opacity:0.8;
}
#u2360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:44px;
  width:37px;
  height:16px;
  color:#FFFFFF;
}
#u2361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:46px;
  width:1px;
  height:13px;
}
#u2362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:45px;
  width:25px;
  height:14px;
}
#u2363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:45px;
  width:20px;
  height:15px;
}
#u2364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:46px;
  width:1px;
  height:13px;
}
#u2365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:44px;
  width:27px;
  height:22px;
}
#u2366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:42px;
  width:18px;
  height:25px;
}
#u2367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:42px;
  width:25px;
  height:25px;
}
#u2368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:94px;
  width:61px;
  height:58px;
}
#u2369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:101px;
  width:36px;
  height:45px;
}
#u2370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:156px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:94px;
  width:61px;
  height:58px;
}
#u2372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:101px;
  width:36px;
  height:45px;
}
#u2373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:156px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:285px;
  width:74px;
  height:92px;
}
#u2375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:285px;
  width:74px;
  height:92px;
}
#u2376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:285px;
  width:74px;
  height:92px;
}
#u2377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:285px;
  width:74px;
  height:92px;
}
#u2378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:285px;
  width:74px;
  height:92px;
}
#u2379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:285px;
  width:74px;
  height:92px;
}
#u2380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:285px;
  width:74px;
  height:92px;
}
#u2381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:285px;
  width:74px;
  height:92px;
}
#u2382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:285px;
  width:74px;
  height:92px;
}
#u2383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:285px;
  width:74px;
  height:92px;
}
#u2384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:285px;
  width:74px;
  height:92px;
}
#u2385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:285px;
  width:74px;
  height:92px;
}
#u2386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:285px;
  width:74px;
  height:92px;
}
#u2387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:285px;
  width:74px;
  height:92px;
}
#u2388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:103px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:152px;
  width:73px;
  height:92px;
}
#u2389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:152px;
  width:74px;
  height:92px;
}
#u2390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:109px;
  width:30px;
  height:30px;
}
#u2391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:24px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:60px;
  width:325px;
  height:23px;
}
#u2392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:63px;
  width:25px;
  height:22px;
}
#u2393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:63px;
  width:242px;
  height:16px;
}
#u2394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:32px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:29px;
  width:368px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:33px;
  width:165px;
  height:16px;
}
#u2396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:333px;
  width:21px;
  height:28px;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:301px;
  width:25px;
  height:22px;
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:262px;
  width:25px;
  height:24px;
}
#u2399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:40px;
  width:20px;
  height:28px;
}
#u2400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:385px;
  width:59px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:29px;
  width:667px;
  height:375px;
  opacity:0.5;
}
#u2402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2402_ann {
  border-width:0px;
  position:absolute;
  left:712px;
  top:25px;
  width:1px;
  height:1px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:166px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:134px;
  width:279px;
  height:165px;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:145px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:193px;
  width:61px;
  height:58px;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:200px;
  width:36px;
  height:45px;
}
#u2408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:261px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:200px;
  width:59px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2410_ann {
  border-width:0px;
  position:absolute;
  left:430px;
  top:196px;
  width:1px;
  height:1px;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:226px;
  width:110px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:252px;
  width:93px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:343px;
  width:0px;
  height:0px;
}
#u2413_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-130px;
  width:8px;
  height:130px;
}
#u2413_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-130px;
  width:143px;
  height:8px;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:640px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u2352.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2352_img.a {
  width:641px;
  height:361px;
}
#u2352.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2353.a {
  left:16px;
  top:340px;
  width:605px;
  height:20px;
}
#u2353_img.a {
  width:606px;
  height:21px;
}
#u2353.a {
  left:16px;
  top:340px;
  width:605px;
  height:20px;
}
#u2355.a {
  left:23px;
  top:301px;
  width:59px;
  height:56px;
}
#u2355_img.a {
  width:60px;
  height:57px;
}
#u2355.a {
  left:23px;
  top:301px;
  width:59px;
  height:56px;
}
#u2355_ann.a {
  left:75px;
  top:297px;
}
#u2356.a {
  left:35px;
  top:308px;
  width:35px;
  height:43px;
}
#u2356_img.a {
  width:36px;
  height:44px;
}
#u2356.a {
  left:35px;
  top:308px;
  width:35px;
  height:43px;
}
#u2357.a {
  left:102px;
  top:342px;
}
#u2357_img.a {
}
#u2357.a {
  left:102px;
  top:342px;
}
#u2357_text.a {
}
#u2358.a {
  left:287px;
  top:338px;
  width:14px;
  height:20px;
}
#u2358_img.a {
  width:15px;
  height:21px;
}
#u2358.a {
  left:287px;
  top:338px;
  width:14px;
  height:20px;
}
#u2359.a {
  left:317px;
  top:341px;
}
#u2359_img.a {
}
#u2359.a {
  left:317px;
  top:341px;
}
#u2359_text.a {
}
#u2360.a {
  left:16px;
  top:12px;
  width:113px;
  height:21px;
}
#u2360_img.a {
  width:114px;
  height:22px;
}
#u2360.a {
  left:16px;
  top:12px;
  width:113px;
  height:21px;
}
#u2361.a {
  left:26px;
  top:14px;
}
#u2361_img.a {
}
#u2361.a {
  left:26px;
  top:14px;
}
#u2361_text.a {
}
#u2362.a {
  left:63px;
  top:16px;
  height:12px;
}
#u2362_img.a {
  height:13px;
}
#u2362.a {
  left:63px;
  top:16px;
  height:12px;
}
#u2363.a {
  left:98px;
  top:15px;
  width:24px;
  height:13px;
}
#u2363_img.a {
  width:25px;
  height:14px;
}
#u2363.a {
  left:98px;
  top:15px;
  width:24px;
  height:13px;
}
#u2364.a {
  left:67px;
  top:15px;
  width:19px;
  height:14px;
}
#u2364_img.a {
  width:20px;
  height:15px;
}
#u2364.a {
  left:67px;
  top:15px;
  width:19px;
  height:14px;
}
#u2365.a {
  left:92px;
  top:16px;
  height:12px;
}
#u2365_img.a {
  height:13px;
}
#u2365.a {
  left:92px;
  top:16px;
  height:12px;
}
#u2366.a {
  left:599px;
  top:14px;
  width:26px;
  height:21px;
}
#u2366_img.a {
  width:27px;
  height:22px;
}
#u2366.a {
  left:599px;
  top:14px;
  width:26px;
  height:21px;
}
#u2367.a {
  left:567px;
  top:12px;
  width:17px;
  height:24px;
}
#u2367_img.a {
  width:18px;
  height:25px;
}
#u2367.a {
  left:567px;
  top:12px;
  width:17px;
  height:24px;
}
#u2368.a {
  left:530px;
  top:12px;
  width:24px;
  height:24px;
}
#u2368_img.a {
  width:25px;
  height:25px;
}
#u2368.a {
  left:530px;
  top:12px;
  width:24px;
  height:24px;
}
#u2369.a {
  left:30px;
  top:62px;
  width:59px;
  height:56px;
}
#u2369_img.a {
  width:60px;
  height:57px;
}
#u2369.a {
  left:30px;
  top:62px;
  width:59px;
  height:56px;
}
#u2370.a {
  left:41px;
  top:69px;
  width:35px;
  height:43px;
}
#u2370_img.a {
  width:36px;
  height:44px;
}
#u2370.a {
  left:41px;
  top:69px;
  width:35px;
  height:43px;
}
#u2371.a {
  left:38px;
  top:122px;
}
#u2371_img.a {
}
#u2371.a {
  left:38px;
  top:122px;
}
#u2371_text.a {
}
#u2372.a {
  left:547px;
  top:62px;
  width:59px;
  height:56px;
}
#u2372_img.a {
  width:60px;
  height:57px;
}
#u2372.a {
  left:547px;
  top:62px;
  width:59px;
  height:56px;
}
#u2373.a {
  left:558px;
  top:69px;
  width:35px;
  height:43px;
}
#u2373_img.a {
  width:36px;
  height:44px;
}
#u2373.a {
  left:558px;
  top:69px;
  width:35px;
  height:43px;
}
#u2374.a {
  left:556px;
  top:122px;
}
#u2374_img.a {
}
#u2374.a {
  left:556px;
  top:122px;
}
#u2374_text.a {
}
#u2375.a {
  left:86px;
  top:246px;
  width:71px;
  height:88px;
}
#u2375_img.a {
  width:82px;
  height:99px;
}
#u2375.a {
  left:86px;
  top:246px;
  width:71px;
  height:88px;
}
#u2376.a {
  left:114px;
  top:246px;
  width:71px;
  height:88px;
}
#u2376_img.a {
  width:82px;
  height:99px;
}
#u2376.a {
  left:114px;
  top:246px;
  width:71px;
  height:88px;
}
#u2377.a {
  left:143px;
  top:246px;
  width:71px;
  height:88px;
}
#u2377_img.a {
  width:82px;
  height:99px;
}
#u2377.a {
  left:143px;
  top:246px;
  width:71px;
  height:88px;
}
#u2378.a {
  left:171px;
  top:246px;
  width:71px;
  height:88px;
}
#u2378_img.a {
  width:82px;
  height:99px;
}
#u2378.a {
  left:171px;
  top:246px;
  width:71px;
  height:88px;
}
#u2379.a {
  left:200px;
  top:246px;
  width:71px;
  height:88px;
}
#u2379_img.a {
  width:82px;
  height:99px;
}
#u2379.a {
  left:200px;
  top:246px;
  width:71px;
  height:88px;
}
#u2380.a {
  left:227px;
  top:246px;
  width:71px;
  height:88px;
}
#u2380_img.a {
  width:82px;
  height:99px;
}
#u2380.a {
  left:227px;
  top:246px;
  width:71px;
  height:88px;
}
#u2381.a {
  left:256px;
  top:246px;
  width:71px;
  height:88px;
}
#u2381_img.a {
  width:82px;
  height:99px;
}
#u2381.a {
  left:256px;
  top:246px;
  width:71px;
  height:88px;
}
#u2382.a {
  left:284px;
  top:246px;
  width:71px;
  height:88px;
}
#u2382_img.a {
  width:82px;
  height:99px;
}
#u2382.a {
  left:284px;
  top:246px;
  width:71px;
  height:88px;
}
#u2383.a {
  left:313px;
  top:246px;
  width:71px;
  height:88px;
}
#u2383_img.a {
  width:82px;
  height:99px;
}
#u2383.a {
  left:313px;
  top:246px;
  width:71px;
  height:88px;
}
#u2384.a {
  left:341px;
  top:246px;
  width:71px;
  height:88px;
}
#u2384_img.a {
  width:82px;
  height:99px;
}
#u2384.a {
  left:341px;
  top:246px;
  width:71px;
  height:88px;
}
#u2385.a {
  left:369px;
  top:246px;
  width:71px;
  height:88px;
}
#u2385_img.a {
  width:82px;
  height:99px;
}
#u2385.a {
  left:369px;
  top:246px;
  width:71px;
  height:88px;
}
#u2386.a {
  left:396px;
  top:246px;
  width:71px;
  height:88px;
}
#u2386_img.a {
  width:82px;
  height:99px;
}
#u2386.a {
  left:396px;
  top:246px;
  width:71px;
  height:88px;
}
#u2387.a {
  left:426px;
  top:246px;
  width:71px;
  height:88px;
}
#u2387_img.a {
  width:82px;
  height:99px;
}
#u2387.a {
  left:426px;
  top:246px;
  width:71px;
  height:88px;
}
#u2388.a {
  left:454px;
  top:246px;
  width:71px;
  height:88px;
}
#u2388_img.a {
  width:82px;
  height:99px;
}
#u2388.a {
  left:454px;
  top:246px;
  width:71px;
  height:88px;
}
#u2389.a {
  left:272px;
  top:118px;
  width:70px;
  height:88px;
}
#u2389_img.a {
  width:81px;
  height:99px;
}
#u2389.a {
  left:272px;
  top:118px;
  width:70px;
  height:88px;
}
#u2390.a {
  left:298px;
  top:118px;
  width:71px;
  height:88px;
}
#u2390_img.a {
  width:82px;
  height:99px;
}
#u2390.a {
  left:298px;
  top:118px;
  width:71px;
  height:88px;
}
#u2391.a {
  left:509px;
  top:77px;
  width:29px;
  height:29px;
}
#u2391_img.a {
  width:30px;
  height:30px;
}
#u2391.a {
  left:509px;
  top:77px;
  width:29px;
  height:29px;
}
#u2392.a {
  left:164px;
  top:30px;
  width:312px;
  height:22px;
}
#u2392_img.a {
  width:313px;
  height:23px;
}
#u2392.a {
  left:164px;
  top:30px;
  width:312px;
  height:22px;
}
#u2393.a {
  left:169px;
  top:33px;
  width:24px;
  height:21px;
}
#u2393_img.a {
  width:25px;
  height:22px;
}
#u2393.a {
  left:169px;
  top:33px;
  width:24px;
  height:21px;
}
#u2394.a {
  left:216px;
  top:33px;
  width:232px;
}
#u2394_img.a {
  width:233px;
}
#u2394.a {
  left:216px;
  top:33px;
  width:232px;
}
#u2394_text.a {
  width:232px;
}
#u2395.a {
  left:143px;
  top:0px;
  width:353px;
  height:30px;
}
#u2395_img.a {
  width:354px;
  height:31px;
}
#u2395.a {
  left:143px;
  top:0px;
  width:353px;
  height:30px;
}
#u2396.a {
  left:232px;
  top:4px;
}
#u2396_img.a {
}
#u2396.a {
  left:232px;
  top:4px;
}
#u2396_text.a {
}
#u2397.a {
  left:601px;
  top:292px;
  width:20px;
  height:27px;
}
#u2397_img.a {
  width:21px;
  height:28px;
}
#u2397.a {
  left:601px;
  top:292px;
  width:20px;
  height:27px;
}
#u2398.a {
  left:600px;
  top:261px;
  width:24px;
  height:21px;
}
#u2398_img.a {
  width:25px;
  height:22px;
}
#u2398.a {
  left:600px;
  top:261px;
  width:24px;
  height:21px;
}
#u2399.a {
  left:601px;
  top:224px;
  width:24px;
  height:23px;
}
#u2399_img.a {
  width:25px;
  height:24px;
}
#u2399.a {
  left:601px;
  top:224px;
  width:24px;
  height:23px;
}
#u2400.a {
  left:501px;
  top:11px;
  width:19px;
  height:27px;
}
#u2400_img.a {
  width:20px;
  height:28px;
}
#u2400.a {
  left:501px;
  top:11px;
  width:19px;
  height:27px;
}
#u2401.a {
  left:168px;
  top:342px;
}
#u2401_img.a {
}
#u2401.a {
  left:168px;
  top:342px;
}
#u2401_text.a {
}
#u2402.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2402_img.a {
  width:641px;
  height:361px;
}
#u2402.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2402_ann.a {
  left:633px;
  top:-4px;
  opacity:0.5;
}
#u2404.a {
  left:186px;
  top:101px;
  width:268px;
  height:158px;
}
#u2404_img.a {
  width:269px;
  height:159px;
}
#u2404.a {
  left:186px;
  top:101px;
  width:268px;
  height:158px;
}
#u2405.a {
  left:285px;
  top:111px;
}
#u2405_img.a {
}
#u2405.a {
  left:285px;
  top:111px;
}
#u2405_text.a {
}
#u2407.a {
  left:223px;
  top:157px;
  width:59px;
  height:56px;
}
#u2407_img.a {
  width:60px;
  height:57px;
}
#u2407.a {
  left:223px;
  top:157px;
  width:59px;
  height:56px;
}
#u2408.a {
  left:234px;
  top:164px;
  width:35px;
  height:43px;
}
#u2408_img.a {
  width:36px;
  height:44px;
}
#u2408.a {
  left:234px;
  top:164px;
  width:35px;
  height:43px;
}
#u2409.a {
  left:231px;
  top:223px;
}
#u2409_img.a {
}
#u2409.a {
  left:231px;
  top:223px;
}
#u2409_text.a {
}
#u2410.a {
  left:313px;
  top:164px;
}
#u2410_img.a {
}
#u2410.a {
  left:313px;
  top:164px;
}
#u2410_text.a {
}
#u2410_ann.a {
  left:365px;
  top:160px;
}
#u2411.a {
  left:313px;
  top:189px;
}
#u2411_img.a {
}
#u2411.a {
  left:313px;
  top:189px;
}
#u2411_text.a {
}
#u2412.a {
  left:313px;
  top:214px;
}
#u2412_img.a {
}
#u2412.a {
  left:313px;
  top:214px;
}
#u2412_text.a {
}
#u2413.a {
  left:53px;
  top:301px;
}
