body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-38px;
  width:667px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:376px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:44px;
  width:667px;
  height:375px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:22px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:398px;
  width:631px;
  height:21px;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:358px;
  width:61px;
  height:58px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:365px;
  width:36px;
  height:45px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:400px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:396px;
  width:15px;
  height:21px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:399px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:23px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:56px;
  width:118px;
  height:22px;
  opacity:0.8;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:59px;
  width:37px;
  height:16px;
  color:#FFFFFF;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:61px;
  width:1px;
  height:13px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:60px;
  width:25px;
  height:14px;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:60px;
  width:20px;
  height:15px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:61px;
  width:1px;
  height:13px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:59px;
  width:27px;
  height:22px;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:57px;
  width:18px;
  height:25px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:57px;
  width:25px;
  height:25px;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:109px;
  width:61px;
  height:58px;
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:116px;
  width:36px;
  height:45px;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:171px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:109px;
  width:61px;
  height:58px;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:46px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:116px;
  width:36px;
  height:45px;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:171px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:300px;
  width:74px;
  height:92px;
}
#u2244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:300px;
  width:74px;
  height:92px;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:300px;
  width:74px;
  height:92px;
}
#u2246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:300px;
  width:74px;
  height:92px;
}
#u2247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:300px;
  width:74px;
  height:92px;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:300px;
  width:74px;
  height:92px;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:300px;
  width:74px;
  height:92px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:300px;
  width:74px;
  height:92px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:300px;
  width:74px;
  height:92px;
}
#u2252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:300px;
  width:74px;
  height:92px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:300px;
  width:74px;
  height:92px;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:300px;
  width:74px;
  height:92px;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:300px;
  width:74px;
  height:92px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:103px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:300px;
  width:74px;
  height:92px;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:76px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:115px;
  width:42px;
  height:65px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:76px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:99px;
  width:43px;
  height:65px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:124px;
  width:30px;
  height:30px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:24px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:75px;
  width:325px;
  height:23px;
}
#u2261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:78px;
  width:25px;
  height:22px;
}
#u2262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:78px;
  width:242px;
  height:16px;
}
#u2263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u2264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:32px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:44px;
  width:368px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:48px;
  width:165px;
  height:16px;
}
#u2265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u2266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:343px;
  width:21px;
  height:28px;
}
#u2266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:311px;
  width:25px;
  height:22px;
}
#u2267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:272px;
  width:25px;
  height:24px;
}
#u2268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:55px;
  width:20px;
  height:28px;
}
#u2269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:225px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:164px;
  width:227px;
  height:224px;
}
#u2271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:164px;
  width:114px;
  height:31px;
  color:#FFFFFF;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:164px;
  width:114px;
  height:31px;
  color:#FFFFFF;
}
#u2273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:219px;
  width:30px;
  height:30px;
}
#u2274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:219px;
  width:30px;
  height:30px;
}
#u2275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:219px;
  width:30px;
  height:30px;
}
#u2276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:219px;
  width:30px;
  height:30px;
}
#u2277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:219px;
  width:30px;
  height:30px;
}
#u2278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:259px;
  width:30px;
  height:30px;
}
#u2279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:259px;
  width:30px;
  height:30px;
}
#u2280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:259px;
  width:30px;
  height:30px;
}
#u2281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:259px;
  width:30px;
  height:30px;
}
#u2282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:259px;
  width:30px;
  height:30px;
}
#u2283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:299px;
  width:30px;
  height:30px;
}
#u2284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:299px;
  width:30px;
  height:30px;
}
#u2285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:299px;
  width:30px;
  height:30px;
}
#u2286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:299px;
  width:30px;
  height:30px;
}
#u2287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:299px;
  width:30px;
  height:30px;
}
#u2288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:339px;
  width:30px;
  height:30px;
}
#u2289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:339px;
  width:30px;
  height:30px;
}
#u2290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:339px;
  width:30px;
  height:30px;
}
#u2291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:339px;
  width:30px;
  height:30px;
}
#u2292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:339px;
  width:30px;
  height:30px;
}
#u2293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:318px;
  width:30px;
  height:30px;
}
#u2294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:284px;
  width:0px;
  height:0px;
}
#u2295_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-4px;
  width:13px;
  height:8px;
}
#u2295_seg1 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-12px;
  width:8px;
  height:16px;
}
#u2295_seg2 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-12px;
  width:13px;
  height:8px;
}
#u2295_text {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:664px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u2222.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2222_img.a {
  width:641px;
  height:361px;
}
#u2222.a {
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u2223.a {
  left:16px;
  top:340px;
  width:605px;
  height:20px;
}
#u2223_img.a {
  width:606px;
  height:21px;
}
#u2223.a {
  left:16px;
  top:340px;
  width:605px;
  height:20px;
}
#u2224.a {
  left:23px;
  top:301px;
  width:59px;
  height:56px;
}
#u2224_img.a {
  width:60px;
  height:57px;
}
#u2224.a {
  left:23px;
  top:301px;
  width:59px;
  height:56px;
}
#u2225.a {
  left:35px;
  top:308px;
  width:35px;
  height:43px;
}
#u2225_img.a {
  width:36px;
  height:44px;
}
#u2225.a {
  left:35px;
  top:308px;
  width:35px;
  height:43px;
}
#u2226.a {
  left:107px;
  top:342px;
}
#u2226_img.a {
}
#u2226.a {
  left:107px;
  top:342px;
}
#u2226_text.a {
}
#u2227.a {
  left:169px;
  top:338px;
  width:14px;
  height:20px;
}
#u2227_img.a {
  width:15px;
  height:21px;
}
#u2227.a {
  left:169px;
  top:338px;
  width:14px;
  height:20px;
}
#u2228.a {
  left:199px;
  top:341px;
}
#u2228_img.a {
}
#u2228.a {
  left:199px;
  top:341px;
}
#u2228_text.a {
}
#u2229.a {
  left:16px;
  top:12px;
  width:113px;
  height:21px;
}
#u2229_img.a {
  width:114px;
  height:22px;
}
#u2229.a {
  left:16px;
  top:12px;
  width:113px;
  height:21px;
}
#u2230.a {
  left:26px;
  top:14px;
}
#u2230_img.a {
}
#u2230.a {
  left:26px;
  top:14px;
}
#u2230_text.a {
}
#u2231.a {
  left:63px;
  top:16px;
  height:12px;
}
#u2231_img.a {
  height:13px;
}
#u2231.a {
  left:63px;
  top:16px;
  height:12px;
}
#u2232.a {
  left:98px;
  top:15px;
  width:24px;
  height:13px;
}
#u2232_img.a {
  width:25px;
  height:14px;
}
#u2232.a {
  left:98px;
  top:15px;
  width:24px;
  height:13px;
}
#u2233.a {
  left:67px;
  top:15px;
  width:19px;
  height:14px;
}
#u2233_img.a {
  width:20px;
  height:15px;
}
#u2233.a {
  left:67px;
  top:15px;
  width:19px;
  height:14px;
}
#u2234.a {
  left:92px;
  top:16px;
  height:12px;
}
#u2234_img.a {
  height:13px;
}
#u2234.a {
  left:92px;
  top:16px;
  height:12px;
}
#u2235.a {
  left:599px;
  top:14px;
  width:26px;
  height:21px;
}
#u2235_img.a {
  width:27px;
  height:22px;
}
#u2235.a {
  left:599px;
  top:14px;
  width:26px;
  height:21px;
}
#u2236.a {
  left:567px;
  top:12px;
  width:17px;
  height:24px;
}
#u2236_img.a {
  width:18px;
  height:25px;
}
#u2236.a {
  left:567px;
  top:12px;
  width:17px;
  height:24px;
}
#u2237.a {
  left:530px;
  top:12px;
  width:24px;
  height:24px;
}
#u2237_img.a {
  width:25px;
  height:25px;
}
#u2237.a {
  left:530px;
  top:12px;
  width:24px;
  height:24px;
}
#u2238.a {
  left:30px;
  top:62px;
  width:59px;
  height:56px;
}
#u2238_img.a {
  width:60px;
  height:57px;
}
#u2238.a {
  left:30px;
  top:62px;
  width:59px;
  height:56px;
}
#u2239.a {
  left:41px;
  top:69px;
  width:35px;
  height:43px;
}
#u2239_img.a {
  width:36px;
  height:44px;
}
#u2239.a {
  left:41px;
  top:69px;
  width:35px;
  height:43px;
}
#u2240.a {
  left:38px;
  top:122px;
}
#u2240_img.a {
}
#u2240.a {
  left:38px;
  top:122px;
}
#u2240_text.a {
}
#u2241.a {
  left:547px;
  top:62px;
  width:59px;
  height:56px;
}
#u2241_img.a {
  width:60px;
  height:57px;
}
#u2241.a {
  left:547px;
  top:62px;
  width:59px;
  height:56px;
}
#u2242.a {
  left:558px;
  top:69px;
  width:35px;
  height:43px;
}
#u2242_img.a {
  width:36px;
  height:44px;
}
#u2242.a {
  left:558px;
  top:69px;
  width:35px;
  height:43px;
}
#u2243.a {
  left:556px;
  top:122px;
}
#u2243_img.a {
}
#u2243.a {
  left:556px;
  top:122px;
}
#u2243_text.a {
}
#u2244.a {
  left:86px;
  top:246px;
  width:71px;
  height:88px;
}
#u2244_img.a {
  width:82px;
  height:99px;
}
#u2244.a {
  left:86px;
  top:246px;
  width:71px;
  height:88px;
}
#u2245.a {
  left:114px;
  top:246px;
  width:71px;
  height:88px;
}
#u2245_img.a {
  width:82px;
  height:99px;
}
#u2245.a {
  left:114px;
  top:246px;
  width:71px;
  height:88px;
}
#u2246.a {
  left:143px;
  top:246px;
  width:71px;
  height:88px;
}
#u2246_img.a {
  width:82px;
  height:99px;
}
#u2246.a {
  left:143px;
  top:246px;
  width:71px;
  height:88px;
}
#u2247.a {
  left:171px;
  top:246px;
  width:71px;
  height:88px;
}
#u2247_img.a {
  width:82px;
  height:99px;
}
#u2247.a {
  left:171px;
  top:246px;
  width:71px;
  height:88px;
}
#u2248.a {
  left:200px;
  top:246px;
  width:71px;
  height:88px;
}
#u2248_img.a {
  width:82px;
  height:99px;
}
#u2248.a {
  left:200px;
  top:246px;
  width:71px;
  height:88px;
}
#u2249.a {
  left:227px;
  top:246px;
  width:71px;
  height:88px;
}
#u2249_img.a {
  width:82px;
  height:99px;
}
#u2249.a {
  left:227px;
  top:246px;
  width:71px;
  height:88px;
}
#u2250.a {
  left:256px;
  top:246px;
  width:71px;
  height:88px;
}
#u2250_img.a {
  width:82px;
  height:99px;
}
#u2250.a {
  left:256px;
  top:246px;
  width:71px;
  height:88px;
}
#u2251.a {
  left:284px;
  top:246px;
  width:71px;
  height:88px;
}
#u2251_img.a {
  width:82px;
  height:99px;
}
#u2251.a {
  left:284px;
  top:246px;
  width:71px;
  height:88px;
}
#u2252.a {
  left:313px;
  top:246px;
  width:71px;
  height:88px;
}
#u2252_img.a {
  width:82px;
  height:99px;
}
#u2252.a {
  left:313px;
  top:246px;
  width:71px;
  height:88px;
}
#u2253.a {
  left:341px;
  top:246px;
  width:71px;
  height:88px;
}
#u2253_img.a {
  width:82px;
  height:99px;
}
#u2253.a {
  left:341px;
  top:246px;
  width:71px;
  height:88px;
}
#u2254.a {
  left:369px;
  top:246px;
  width:71px;
  height:88px;
}
#u2254_img.a {
  width:82px;
  height:99px;
}
#u2254.a {
  left:369px;
  top:246px;
  width:71px;
  height:88px;
}
#u2255.a {
  left:396px;
  top:246px;
  width:71px;
  height:88px;
}
#u2255_img.a {
  width:82px;
  height:99px;
}
#u2255.a {
  left:396px;
  top:246px;
  width:71px;
  height:88px;
}
#u2256.a {
  left:426px;
  top:246px;
  width:71px;
  height:88px;
}
#u2256_img.a {
  width:82px;
  height:99px;
}
#u2256.a {
  left:426px;
  top:246px;
  width:71px;
  height:88px;
}
#u2257.a {
  left:454px;
  top:246px;
  width:71px;
  height:88px;
}
#u2257_img.a {
  width:82px;
  height:99px;
}
#u2257.a {
  left:454px;
  top:246px;
  width:71px;
  height:88px;
}
#u2258.a {
  left:438px;
  top:68px;
  width:40px;
  height:62px;
}
#u2258_img.a {
  width:51px;
  height:73px;
}
#u2258.a {
  left:438px;
  top:68px;
  width:40px;
  height:62px;
}
#u2259.a {
  left:437px;
  top:53px;
  width:41px;
  height:62px;
}
#u2259_img.a {
  width:52px;
  height:73px;
}
#u2259.a {
  left:437px;
  top:53px;
  width:41px;
  height:62px;
}
#u2260.a {
  left:509px;
  top:77px;
  width:29px;
  height:29px;
}
#u2260_img.a {
  width:30px;
  height:30px;
}
#u2260.a {
  left:509px;
  top:77px;
  width:29px;
  height:29px;
}
#u2261.a {
  left:164px;
  top:30px;
  width:312px;
  height:22px;
}
#u2261_img.a {
  width:313px;
  height:23px;
}
#u2261.a {
  left:164px;
  top:30px;
  width:312px;
  height:22px;
}
#u2262.a {
  left:169px;
  top:33px;
  width:24px;
  height:21px;
}
#u2262_img.a {
  width:25px;
  height:22px;
}
#u2262.a {
  left:169px;
  top:33px;
  width:24px;
  height:21px;
}
#u2263.a {
  left:216px;
  top:33px;
  width:232px;
}
#u2263_img.a {
  width:233px;
}
#u2263.a {
  left:216px;
  top:33px;
  width:232px;
}
#u2263_text.a {
  width:232px;
}
#u2264.a {
  left:143px;
  top:0px;
  width:353px;
  height:30px;
}
#u2264_img.a {
  width:354px;
  height:31px;
}
#u2264.a {
  left:143px;
  top:0px;
  width:353px;
  height:30px;
}
#u2265.a {
  left:232px;
  top:4px;
}
#u2265_img.a {
}
#u2265.a {
  left:232px;
  top:4px;
}
#u2265_text.a {
}
#u2266.a {
  left:601px;
  top:287px;
  width:20px;
  height:27px;
}
#u2266_img.a {
  width:21px;
  height:28px;
}
#u2266.a {
  left:601px;
  top:287px;
  width:20px;
  height:27px;
}
#u2267.a {
  left:600px;
  top:256px;
  width:24px;
  height:21px;
}
#u2267_img.a {
  width:25px;
  height:22px;
}
#u2267.a {
  left:600px;
  top:256px;
  width:24px;
  height:21px;
}
#u2268.a {
  left:601px;
  top:219px;
  width:24px;
  height:23px;
}
#u2268_img.a {
  width:25px;
  height:24px;
}
#u2268.a {
  left:601px;
  top:219px;
  width:24px;
  height:23px;
}
#u2269.a {
  left:499px;
  top:11px;
  width:19px;
  height:27px;
}
#u2269_img.a {
  width:20px;
  height:28px;
}
#u2269.a {
  left:499px;
  top:11px;
  width:19px;
  height:27px;
}
#u2271.a {
  left:366px;
  top:115px;
  width:218px;
  height:215px;
}
#u2271_img.a {
  width:219px;
  height:216px;
}
#u2271.a {
  left:366px;
  top:115px;
  width:218px;
  height:215px;
}
#u2272.a {
  left:366px;
  top:115px;
  width:109px;
  height:30px;
}
#u2272_img.a {
  width:110px;
  height:31px;
}
#u2272.a {
  left:366px;
  top:115px;
  width:109px;
  height:30px;
}
#u2272_text.a {
  top:7px;
  width:105px;
}
#u2273.a {
  left:475px;
  top:115px;
  width:109px;
  height:30px;
}
#u2273_img.a {
  width:110px;
  height:31px;
}
#u2273.a {
  left:475px;
  top:115px;
  width:109px;
  height:30px;
}
#u2273_text.a {
  top:7px;
  width:105px;
}
#u2274.a {
  left:384px;
  top:168px;
  width:29px;
  height:29px;
}
#u2274_img.a {
  width:30px;
  height:30px;
}
#u2274.a {
  left:384px;
  top:168px;
  width:29px;
  height:29px;
}
#u2275.a {
  left:422px;
  top:168px;
  width:29px;
  height:29px;
}
#u2275_img.a {
  width:30px;
  height:30px;
}
#u2275.a {
  left:422px;
  top:168px;
  width:29px;
  height:29px;
}
#u2276.a {
  left:461px;
  top:168px;
  width:29px;
  height:29px;
}
#u2276_img.a {
  width:30px;
  height:30px;
}
#u2276.a {
  left:461px;
  top:168px;
  width:29px;
  height:29px;
}
#u2277.a {
  left:499px;
  top:168px;
  width:29px;
  height:29px;
}
#u2277_img.a {
  width:30px;
  height:30px;
}
#u2277.a {
  left:499px;
  top:168px;
  width:29px;
  height:29px;
}
#u2278.a {
  left:537px;
  top:168px;
  width:29px;
  height:29px;
}
#u2278_img.a {
  width:30px;
  height:30px;
}
#u2278.a {
  left:537px;
  top:168px;
  width:29px;
  height:29px;
}
#u2279.a {
  left:384px;
  top:206px;
  width:29px;
  height:29px;
}
#u2279_img.a {
  width:30px;
  height:30px;
}
#u2279.a {
  left:384px;
  top:206px;
  width:29px;
  height:29px;
}
#u2280.a {
  left:422px;
  top:206px;
  width:29px;
  height:29px;
}
#u2280_img.a {
  width:30px;
  height:30px;
}
#u2280.a {
  left:422px;
  top:206px;
  width:29px;
  height:29px;
}
#u2281.a {
  left:461px;
  top:206px;
  width:29px;
  height:29px;
}
#u2281_img.a {
  width:30px;
  height:30px;
}
#u2281.a {
  left:461px;
  top:206px;
  width:29px;
  height:29px;
}
#u2282.a {
  left:499px;
  top:206px;
  width:29px;
  height:29px;
}
#u2282_img.a {
  width:30px;
  height:30px;
}
#u2282.a {
  left:499px;
  top:206px;
  width:29px;
  height:29px;
}
#u2283.a {
  left:537px;
  top:206px;
  width:29px;
  height:29px;
}
#u2283_img.a {
  width:30px;
  height:30px;
}
#u2283.a {
  left:537px;
  top:206px;
  width:29px;
  height:29px;
}
#u2284.a {
  left:384px;
  top:245px;
  width:29px;
  height:29px;
}
#u2284_img.a {
  width:30px;
  height:30px;
}
#u2284.a {
  left:384px;
  top:245px;
  width:29px;
  height:29px;
}
#u2285.a {
  left:422px;
  top:245px;
  width:29px;
  height:29px;
}
#u2285_img.a {
  width:30px;
  height:30px;
}
#u2285.a {
  left:422px;
  top:245px;
  width:29px;
  height:29px;
}
#u2286.a {
  left:461px;
  top:245px;
  width:29px;
  height:29px;
}
#u2286_img.a {
  width:30px;
  height:30px;
}
#u2286.a {
  left:461px;
  top:245px;
  width:29px;
  height:29px;
}
#u2287.a {
  left:499px;
  top:245px;
  width:29px;
  height:29px;
}
#u2287_img.a {
  width:30px;
  height:30px;
}
#u2287.a {
  left:499px;
  top:245px;
  width:29px;
  height:29px;
}
#u2288.a {
  left:537px;
  top:245px;
  width:29px;
  height:29px;
}
#u2288_img.a {
  width:30px;
  height:30px;
}
#u2288.a {
  left:537px;
  top:245px;
  width:29px;
  height:29px;
}
#u2289.a {
  left:384px;
  top:283px;
  width:29px;
  height:29px;
}
#u2289_img.a {
  width:30px;
  height:30px;
}
#u2289.a {
  left:384px;
  top:283px;
  width:29px;
  height:29px;
}
#u2290.a {
  left:422px;
  top:283px;
  width:29px;
  height:29px;
}
#u2290_img.a {
  width:30px;
  height:30px;
}
#u2290.a {
  left:422px;
  top:283px;
  width:29px;
  height:29px;
}
#u2291.a {
  left:461px;
  top:283px;
  width:29px;
  height:29px;
}
#u2291_img.a {
  width:30px;
  height:30px;
}
#u2291.a {
  left:461px;
  top:283px;
  width:29px;
  height:29px;
}
#u2292.a {
  left:499px;
  top:283px;
  width:29px;
  height:29px;
}
#u2292_img.a {
  width:30px;
  height:30px;
}
#u2292.a {
  left:499px;
  top:283px;
  width:29px;
  height:29px;
}
#u2293.a {
  left:537px;
  top:283px;
  width:29px;
  height:29px;
}
#u2293_img.a {
  width:30px;
  height:30px;
}
#u2293.a {
  left:537px;
  top:283px;
  width:29px;
  height:29px;
}
#u2294.a {
  left:40px;
  top:263px;
  width:29px;
  height:29px;
}
#u2294_img.a {
  width:30px;
  height:30px;
}
#u2294.a {
  left:40px;
  top:263px;
  width:29px;
  height:29px;
}
#u2295.a {
  left:601px;
  top:231px;
}
